.nano-content {
    position: relative;
    width: 20%;
    height: 100%;
    overflow: hidden;
    background: #263238
}
.container{
    display: block;
    min-height: 100vh;
    height: auto;
    position: relative;
    min-width: 290px;
    overflow: hidden;
}
.icon{
    background: #263238;
}