.btn {
    background: black !important;
    color: white !important;
    border-color : black !important;
}
.tags { 
    background: black !important;
} 
option:hover {
    background: black !important;
    color: #fff;
}